@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  margin: 0 auto;
}

.main-component {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: calc(100vh - 48px);
  text-align: center;
}
